@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #303030;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradient {
  background: linear-gradient(135deg, #fc74ef, #5c5ab3);
}

button {
  @apply rounded-md bg-[#fc0a7e] hover:bg-white hover:text-gray-500 text-white px-10 py-4 transition-colors duration-500;
  font-weight: 600;
}

button.bordered {
  @apply hover:border-gray-400 border border-transparent;
}

@layer components {
  h1 {
    @apply text-6xl font-bold text-gray-900 mb-4;
  }

  h2 {
    @apply text-5xl font-semibold text-gray-800 mb-3;
  }

  h3 {
    @apply text-4xl font-medium text-gray-700 mb-2;
  }

  h4 {
    @apply text-3xl font-normal text-gray-600 mb-1;
  }
  h5 {
    @apply text-2xl font-normal text-gray-500 mb-1;
  }
  h6 {
    @apply text-xl font-normal text-gray-400 mb-1;
  }
}

.slick-slider {
  width: 100vw;
}